<%- include("partials/header.ejs") %>
<link rel="stylesheet" type="text/css" href="/stylesheets/landing.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="semantic/dist/semantic.min.js"></script>

<link href="https://fonts.googleapis.com/css2?family=Red+Rose&display=swap" rel="stylesheet">
<div class="container  div1">
    <h3>Get your quick matching</h3>
<div class="jumbotron ">
    <div style="width: 30%; margin: 25px auto;">
            <form action="" method="">
                <div class="form-group">
                    <input class="form-control" type="text" name="name" placeholder="Name">
                </div>
                <h3>Select your Class/Cource:</h3>
                <div class="row">
                <div class="form-group  col-md-6">
                    <input  type="radio" name="class" value="Nursery"> Nursery
                </div>
                <div class="form-group col-md-6">
                    <input  type="radio" name="class" value="Upto V"> Upto Class V
                </div>
                <div class="form-group col-md-6">
                    <input  type="radio" name="class" value="VI-VIII"> VI-VIII
                </div>
                <div class="form-group col-md-6">
                    <input  type="radio" name="class" value="IX-X"> IX-X
                </div><div class="form-group col-md-6">
                    <input  type="radio" name="class" value="XI-XII"> XI-XII
                </div>
                <div class="form-group col-md-6">
                    <input  type="radio" name="class" value="Others"> Others
                </div>    
                </div>    
                <hr class="my-4">
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            
        </div> 
</div>
</div  style="text-align: left;">
<div>
<a href="tel:+91-7982144168">Call Us</a>
</div>
<div>
    <div>
        <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row secondJ ">
        <div class="col-md-6 form-group thirdJ">
            <p>Our Students</p>
           <button type="button" class="btn btn-success btn-lg">Click Here!</button>
        </div>
        <div class="col-md-6 form-group thirdJ">
            <p>Our Teachers</p>
           <button type="button" class="btn btn-success btn-lg">Click Here!</button>
        </div>
    </div>
  </div>
</div>
    </div>
</div>

<div>
<div class="jumbotron">
    <div class="container">
  <div class="row">
    <div style="text-align: center;">
        <h2>How we work?</h2>
    </div>
    
    <div class="col-md-4" style="text-align: center;">
       <div class="jumbotron">
        <div class="segment">
        <div >
            <i class="huge icons">
  <i class="big circle outline icon"></i>
  <i class="user icon"></i>
</i>
        </div>
  <p class="display-4"><strong>Post your learning requirement</strong> </p>
  </div>
  <p class="lead">Want to learn something? Just enter
details such as subject or category,
locality and preference</p>
  <hr class="my-4">
  
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>
    </div>
    <div class="col-md-4" style="text-align: center;">
      <div class="jumbotron">
        <div class="segment"> 
       <div>
           <i class="massive phone icon"></i>
       </div>
  <p class="display-4"><strong> Get customised responses</strong></p>
  </div>
  <p >Based on your requirement you will start
getting customised responses from tutors and
institutes.</p>
  <hr class="my-4">
  
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>
    </div>
    <div class="col-md-4" style="text-align: center;">
       <div class="jumbotron">
        <div class="segment">
        <div>
            <i class="massive balance scale icon"></i>
        </div>
  <p class="display-4"><strong>Compare & select the best</strong> </p>
  </div>
  <p class="lead">Once you get responses, you can
compare them and choose the ones that
fit your learning requirement.</p>
  <hr class="my-4">
  
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>
      
    </div>
  </div>
</div>
</div>
</div>




<%- include("partials/footer.ejs")  %>


    

  